{% extends 'base.html.twig' %}

{% block title %}Mes stacks{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between align-items-center">
        <h1>Mes stacks</h1>
        <a class="btn btn-primary" href="{{ path('app_stack_new') }}">Nouvelle stack</a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Icône</th>
                <th>Couleur</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for stack in stacks %}
            <tr>
                <td>{{ stack.id }}</td>
                <td>{{ stack.title }}</td>
                <td>
                    {% if stack.icon %}
                        <img src="{{ asset(upload_stack_dir~stack.icon) }}" alt="{{ stack.title }}" style="max-width: 100px;">
                    {% else %}
                        Aucune icône
                    {% endif %}
                </td>
                <td><span style="background-color: {{ stack.color }};">{{ stack.color }}</span>
                </td>
                <td>
                    <a href="{{ path('app_stack_show', {'id': stack.id}) }}">Détails</a>
                    <a href="{{ path('app_stack_edit', {'id': stack.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucune stack</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
