{% extends 'base.html.twig' %}

{% block title %}Projets{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between align-items-center">
        <h1>Projets</h1>
        <a class="btn btn-primary" href="{{ path('app_project_new') }}">Nouveau projet</a>
    </div>
    <h1></h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Lien du projet</th>
                <th>Lien du code source</th>
                <th>Stacks</th>
                <th>Objectif</th>
                <th>Visible</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for project in projects %}
            <tr>
                <td>{{ project.id }}</td>
                <td>{{ project.title }}</td>
                <td>{{ project.description }}</td>
                <td><a target="_blank" href="{{ project.projectLink }}">{{ project.projectLink }}</a></td>
                <td><a target="_blank" href="{{ project.sourceCodeLink }}">{{ project.sourceCodeLink }}</a></td>
                <td>
                    {% include 'stack/_read.html.twig' with {'stacks' : project.stacks} %}
                </td>
                <td>
                    {% include 'goal/_read.html.twig' with {'goals' : project.goals} %}
                </td>
                <td>
                    {{ project.visible ? 'Oui' : 'Non' }}
                </td>
                <td>
                    <a href="{{ path('app_project_show', {'id': project.id}) }}">Détails</a>
                    <a href="{{ path('app_project_edit', {'id': project.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucun projet</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
